<strong> Hello {{provider}} </strong>
<p> there was a cancellation of schedules, check out the details below </p>
<p>
  <strong>Costumer:</strong>{{ user }} <br />
  <strong>Date of service:</strong> {{date}}
  <br />
  <small>Your schedule is available again to new costumers</small>
</p>
